<h1>Listing posts</h1>


<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.body %></p>
    <%= link_to 'Edit', edit_post_path(post), class: "btn" %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
  </div>
<% end %>

<%= link_to 'New Post', new_post_path %>
